@page
@model HelloWorldTypescript.Pages.DynamicTypesModel
@{
    ViewData["Title"] = "DynamicTypes";
}
<script src="~/js/knockout.js"></script>
<script src="~/js/ambient-declarations.js"></script>
<h2>DynamicTypes</h2>

