@page
@model HelloWorldTypescript.Pages.ExtendingInternalModulesModel
@{
    ViewData["Title"] = "ExtendingInternalModules";
}
<link href="~/css/toastr.css" rel="stylesheet" />
<script src="~/js/toastr.js"></script>
<script src="~/static/Scripts/ExtendingInternalModule.js"></script>

<h2>ExtendingInternalModules</h2>

