@page
@model HelloWorldTypescript.Pages.InternalModulesModel
@{
    ViewData["Title"] = "InternalModules";
}

<script src="~/js/toastr.js"></script>
<script src="~/static/Scripts/InternalModule.js"></script>
<link href="~/css/toastr.css" rel="stylesheet" />
<h2>InternalModules</h2>

