@page
@model HelloWorldTypescript.Pages.InterfacesModel
@{
    ViewData["Title"] = "Interfaces";
}
<script src="~/static/Scripts/interfaces.js"></script>
<h2>Interfaces</h2>
<p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>

