@page
@model HelloWorldTypescript.Pages.ModulesModel
@{
    ViewData["Title"] = "Modules";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/toastr.js"></script>
<script src="~/static/Scripts/04-01-global-module.js"></script>
<link href="~/css/toastr.css" rel="stylesheet" />
<h2>Modules</h2>
