@page
@model HelloWorldTypescript.Pages.ModuleSeperationModel
@{
    ViewData["Title"] = "ModuleSeperation";
}

<script src="~/js/toastr.js"></script>
<link href="~/css/toastr.css" rel="stylesheet" />

<script src="~/static/Scripts/Utils.js"></script>
<script src="~/static/Scripts/Shapes.js"></script>

<h2>ModuleSeperation</h2>

