@page
@model HelloWorldTypescript.Pages.PrimitivesModel
@{
    ViewData["Title"] = "Primitives";
}
<script src="~/js/deom_02_05.js"></script>
<script src="~/js/02_06_primitives.js"></script>
<h2>Primitives</h2>

